{% extends "base.html" %}

{% block title %}
  {% if subject %}
		{{ subject.title }} courses
	{% else %}
		All courses
	{% endif %}
{% endblock %}

{% block content %}
<h1>
	{% if subject %}
		{{ subject.title }} courses
	{% else %}
		All courses
	{% endif %}
</h1>

{# 侧边栏 #}
<div class="contents">
	<h3>Subjects</h3>
	<ul id="modules">
		<li {% if not subject %}class="selected"{% endif %}>
			<a href="{% url "course_list" %}">All</a>
		</li>

		{% for s in subjects %}
		<li {% if subject == s %}class="selected"{% endif %}>
			<a href="{% url "courses:course_list_subject" s.slug %}">{{ s.title }}
				<br/><span>{{ s.total_courses }} courses</span>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>

{# 主内容栏 #}
<div class="module">
  {% for course in courses %}
		{% with subject=course.subject %}
		<h3><a href="{% url "courses:course_detail" course.slug %}">{{ course.title }}</a></h3>
		<p>
			<a href="{% url "courses:course_list_subject" subject.slug %}">{{ subject }}</a>
			Instructor: {{ course.owner.username }}
		</p>
		{% endwith %}
	{% endfor %}
</div>
{% endblock %}
