{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}My shop{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
	<div id="header">
		<a class="logo" href="/">My shop</a>
	</div>
	<div id="subheader">
		<div class="cart">
			{% with total_items=cart|length %}
				{% if cart|length > 0 %}
					Your cart:
					<a href="{% url "cart:cart_detail" %}">
						{{ total_items }} item{{ total_items|pluralize }},
						${{ cart.get_total_price }}
					</a>
				{% else %}
					Your cart is Empty.
				{% endif %}
			{% endwith %}
		</div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
