{% extends "rango/base.html" %}
{% load static %}

{% block body_block %}

	{% if user.is_authenticated %}
	<div class="page-header">
	<h1>Rango says... Hello {{ user.username }}!</h1>
	{% else %}
	<h1>Rango says Hello world!</h1>
	</div>
	{% endif %}
	
	
	<div class="row placeholders">
	<div class="col-xs-12 col-sm-6 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top Five Categories</h3>
			</div>
		</div>

		{% if categories %}
			<ul class="list-group">
				{% for category in categories %}
				<li class="list-group-item"><a href="{% url 'category' category.slug %}"> {{ category.name }} </a> </li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
	</div>

	<div class="col-xs-12 col-sm-6 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Top Five Pages</h3>
			</div>
		</div>

		{% if pages %}
			<ul class="list-group">
				{% for page in pages %}
				<li class="list-group-item"><a href="{% url 'goto' %}?page_id={{ page.id }}">{{page.title}} - ({{ page.views }})</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No Pages is Present.</strong>
		{% endif %}
	</div>
	<p>Visits:{{ visits }}</p><br/>
	</div>
{% endblock %}

